*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

.wrapper{
    width : 100%;
    margin : 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.primary-blue{
    background-color: #0282f9;
}

.pd-20{
    padding: 20px;
}

.btn-classic{
    color:white;
    font-size: 1.5rem;
    border: 3px solid #0282f9;
    padding: 10px;
}

.min-h-200{
    min-height: 200px;
}