*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.wrapper{
    width : 100%;
    margin : 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.primary-blue{
    background-color: #0282f9;
}

.pd-20{
    padding: 20px;
}